.container {
  padding: 2rem;
  width: 20rem;
  height: 100vh; // ocupar o máximo da altura

  background: var(--purple-500);
  color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &#dark {
    background: var(--dark-400);
    color: var(--dark-100);
    border-left: 1px solid var(--dark-300);
  }

  header {
    display: flex;
    align-items: center;
    gap: 1px; // faz todos elementos ganhar um espaçamento
  }

  strong {
    font-family: Lexend, sans-serif;
    font-weight: 600;
  }

  footer {
    align-self: stretch; // faz ocupar toda a largura

    &.empty .progress { // quando estiver usando esta estilização acontecer isso
      opacity: 0.5;
    }
  }
}

.currentEpisode {
  text-align: center;

  img {
    border-radius: 1.5rem;
  }

  strong {
    display: block;
    margin-top: 2rem;
    font: 600 1.25rem Lexend, sans-serif;
    line-height: 1.75rem;
  }

  span {
    display: block;
    margin-top: 1rem;
    opacity: 0.6;
    line-height: 1.5rem;
  }
}

.emptyPlayer {
  width: 15rem;
  height: 15rem;
  border: 1.5px dashed var(--purple-300);
  border-radius: 1.5rem;
  background: linear-gradient(143.8 deg, rgba(145, 100, 250, 0.8) 0%, rgba(0, 0, 0, 0) 100%);

  padding: 4rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  &#dark {
    border: 1.5px dashed var(--dark-green-300);
    background: linear-gradient(143.8 deg, rgba(52, 247, 52, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;

  span {
    display: inline-block;
    width: 4rem;
    text-align: center;
  }

  .slider {
    flex: 1;

    .emptySlider {
      width: 100%;
      height: 4px;
      background: var(--purple-300);
      border-radius: 2px;

      &#dark {
        background: var(--dark-green-300);
      }
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1.5rem;

  button {
    background: transparent;
    border: 0;
    font-size: 0;

    transition: filter 0.2s color 0.2s;

    .iconReact {
      font-size: 35px;
      color: var(--white);

      &#dark {
        color: var(--dark-100);
      }
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &:hover:enabled {
      filter: brightness(0.8);
    }

    &.isActive:enabled {
      .iconReact {
        color: var(--purple-900);
        filter: brightness(0.8);

        &#dark {
          color: var(--dark-green-300);
        }
      }
    }

    &.playButton {
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      background: var(--purple-400);

      &#dark {
        background: var(--dark-green-400);
      }

      &:hover:enabled {
        filter: brightness(0.95);
      }
    }
  }
}
